/* basic setup */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.headers-section {
  background-color: #fff;
  height: 715px;
  width: 375px;
}

/* toolbar section */
.toolbar-section {
  height: 100px;
  display: flex;
  width: 375px;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 12px 0 20px;
}

.logo {
  text-decoration: none;
  font-style: bold;
  font-size: 18px;
}
.menu-logo {
  font-size: 30px;
}

.headline-section {
  background-image: url("img/header-shapes mobile.png");
  background-repeat: no-repeat;
  height: 400px;
  width: 375px;
  left: -34px;
}

.author,
.article,
.connect {
  font-family: "Poppins", sans-serif;
  padding-left: 20px;
}

.author {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  padding-top: 60px;
}

.article {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 60px;
}
.let-container {
  display: flex;
  width: 300px;
  justify-content: space-between;
  height: 13px;
  margin-top: 15px;
}

.connect {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.eclipse-13 {
  width: 300px;
  height: 12px;
}
.eclipse-13 img {
  float: right;
}

/* social media icons  */
.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  padding-left: 20px;
}

.social-icons li {
  list-style: none;
  font-size: 1.3em;
}
.eclipse-4 {
  width: 220px;
  margin-top: 30px;
}

.eclipse-4 img {
  height: 12px;
  float: right;
}
