/* basic setup */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

/* toolbar section */
.toolbar-section {
  display: flex;
  flex-direction: row;
  column-gap: 17em;
  padding: 10px 12px 0 20px;
}

.logo a {
  text-decoration: none;
}

.main-section {
  background-image: url("img/header-shapes mobile.png");
  background-repeat: no-repeat;
  height: 587.1460571289062px;
  width: 462px;
  left: -34px;
}

.author,
.article,
.connect {
  font-family: "Poppins", sans-serif;
  padding-left: 20px;
}

.author {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  padding-top: 50px;
}

.article {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 120px;
}

.connect {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

/* social media icons  */
.social-icons {
  padding: 20px;
}

.social-icons .iconify {
  padding: 0 5px;
  font-size: 2em;
}
