/* basic setup */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ---------------------------------------middle-sections------------------------------ */
.middle-section {
  height: 4119px;
  background: #e5e5e5;
}

/* ---------------------------------------tonic-sections------------------------------ */
.tonic-section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: static;
  width: 327px;
  height: 552px;
  left: calc(50% - 327px / 2);
  background-color: #ffffff;
  box-sizing: border-box;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tonic-section,
.post-section,
.stories-section {
  border: 1px solid #dfe1e6;
}

.tonic-section,
.see-project,
.multipurpose-section,
.post-section,
.stories-section {
  border-radius: 16px;
}

.tonic-image {
  width: 295px;
  height: 220px;
  background-image: url("img/Snapshoot\ Portfolio.png");
  margin: 12px 0;
}

.tonic-image,
.multipurpose-image,
.postsection-image,
.major-lang,
.contactsection-button,
.contactsection-input,
.contactsection-textarea {
  border-radius: 8px;
}

.tonic {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.canopy-container {
  display: flex;
  flex-direction: row;
  width: 295px;
  height: 30px;
  gap: 5px;
  padding-top: 10px;
}

.date {
  height: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.daily-sign {
  width: 295px;
  height: 76px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 20px;
  width: 295px;
  list-style: none;
}

.html,
.css {
  background-color: #ebebff;
  margin-right: 8px;
  color: #6070ff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.css {
  font-size: 12px;
}

.javascript {
  position: static;
  width: 65px;
  height: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.see-project {
  position: static;
  width: 250px;
  height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  flex: none;
  margin: 10px 0px;
  top: 4px;
}

.btn {
  height: 24px;
  width: 100px;
  margin: 12px 0;
  border-radius: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: hsl(223, 88%, 59%);
}

.btn:hover,
.resume:hover {
  background-color: #7a869a;
}

.btn:active,
.resume:active {
  background-color: #000;
}

/*------------------------------- multipurpose section -----------------------------------*/
.multipurpose-section {
  height: 596px;
  width: 327px;
  padding: 16px;
  background: #fff;
  margin: 80px 0;
}

.multipurpose-image {
  width: 295px;
  height: 220px;
  background-image: url("img/Snapshoot\ Portfolio\ \(1\).png");
}

/* ------------------------------post section -----------------------  */
.post-section {
  align-items: center;
  padding: 16px;
  width: 327px;
  height: 552px;
  left: calc(50% - 327px / 2);
  background: #fff;
  box-sizing: border-box;
}

.postsection-image {
  background-image: url("img/Snapshoot\ Portfolio\ \(2\).png");
  width: 295px;
  height: 220px;
  margin: 12px 0;
}

/* stories-section-------------------- */
.stories-section {
  align-items: center;
  padding: 16px;
  width: 327px;
  height: 596px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 88px 0;
}

.storysection-image {
  background-image: url("img/Snapshoot\ Portfolio\ \(3\).png");
  width: 295px;
  height: 220px;
  margin: 12px 0;
}

/*--------------------- about section------------------- */
.about-section {
  width: 375px;
  height: 1263px;
  padding: 10px;
  background: #ffffff;
}

.myself {
  width: 327px;
  height: 101px;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #172b4d;
  margin: 12px 0;
}

.career {
  width: 327px;
  height: 144px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

.connect {
  width: 200px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 12px 0;
}

.social-icons {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  margin: 12px 0;
  padding-left: 20px;
}

.resume {
  width: 150px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  margin: 10px 10px;
  border: 2px solid #555555;
  border-radius: 5px;
  padding: 3px;
}

.language-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.langguage,
.major-lang {
  display: flex;
  flex-direction: row;
  width: 300px;
  margin: 12px 0;
}

.langguage {
  justify-content: space-between;
  height: 50px;
  margin: 10px 0;
  background: #fff;
}

.icondown-language {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  width: 230px;
  padding: 10px;
}

.major-lang {
  height: 66.72px;
  background: #f7f7f9;
}

.icon-down {
  background-image: url("img/Icon\ -\ Chevron\ -\ Down\ -\ Larger.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 50px;
  margin: 10px;
}

.eclipse-language {
  height: 46.72px;
  margin: 10px;
}

.technology-language {
  align-items: center;
  margin: 20px 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  padding-top: 8px;
}

.about-h5 {
  width: 235px;
  margin: 25px;
  font-size: 20px;
}

.icon-right {
  background-image: url("img/Icon\ -\ Chevron\ -\ Right\ -\ Larger.png");
  background-repeat: no-repeat;
  padding-top: 20px;
  height: 50px;
  width: 50px;
  margin: 25px;
}

/* ------------contact-section----------------- */
.contact-section {
  padding-top: 40px;
  width: 375px;
  height: 570px;
  background: #6070ff;
  border-top-left-radius: 50px;
  background-image: url("img/header-shapes\ mobile.png");
}

.contact-me {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #fff;
}

.apply {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin: 5px 24px;
}

.contactsection-input {
  height: 48px;
  padding: 10px;
}

.contactsection-input {
  width: 273px;
  border: 1px solid #cfd8dc;
  margin: 5px 24px;
}

.contactsection-input,
.contactsection-textarea,
.contactsection-button {
  background: #fff;
}

.contactsection-textarea {
  height: 127px;
  width: 273px;
  border: 1px solid #cfd8dc;
  margin: 5px 24px;
  padding: 20px;
}

.contactsection-button {
  width: 140px;
  height: 48px;
  padding: 12px 16px;
  margin: 5px 24px;
}

.contact-section button:hover {
  background-color: #7f8cff;
}

.contact-section button:active {
  background-color: #7a869a;
}
